<% title "Netzke::Basepack::TabPanel" %>
<%= link_to_code %>

Features:
<ol>
<li>Easy nesting of components</li>
<li>Dynamically loads the nested component when a tab gets activated for the first time</li>
<li>Is loaded along with the component in the active tab - saves a request to the server</li>
</ol>

<h2>Example 1: a tab panel with two GridPanels as tabs</h2>
<p>A tab panel with 2 tabs, each containing a GridPanel.</p>
<%= netzke :two_grid_panels,
            :class_name => "Basepack::TabPanel",
            :items => [{
              :class_name => "Basepack::GridPanel",
              :model => "Boss",
              :title => "Bosses"
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Clerk",
              :title => "Clerks"
            }],
            :width => 700,
            :border => true,
            :active_tab => 0
%>

<h2>Example 2: second GridPanel loads dynamically</h2>
<p>Same as before, but the second panel gets loaded dynamically at the moment its tab gets activated.</p>
<%= netzke :with_dynamic_loading,
            :class_name => "Basepack::TabPanel",
            :items => [{
              :class_name => "Basepack::GridPanel",
              :model => "Boss",
              :title => "Bosses"
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Clerk",
              :title => "Clerks",
              :lazy_loading => true # this is what makes a component load dynamically
            }],
            :width => 700,
            :border => true,
            :active_tab => 0
%>
