<h2>BasicApp demo</h2>
The BasicApp widget is the basis for your Netzke application. It's a Ext.Viewport-based widget, which currently supports:<br>
* Dynamic loading of widgets (the same way as any other Netzke widget): when you click a menu item, it does exactly that.<br>
* Authentication support (see the login/logout button on the right side of the top toolbar): login to get access to users data.<br>
* Browser history support (by means of the browser's Back/Forward buttons): press the "Back"-button to go to the previously loaded widget ("Forward" works, too...).<br>
* Masquerading support (an administrator may "<a href='http://blog.writelesscode.com/past/2009/5/7/netzke_intuitive_application_configuration_with_help_of_masquerading/'>masquerade</a>" as another user, or even group of users).<br>
* AJAX activity indicator (see the status bar below).

<p><%= link_to "Load the BasicApp demo", :action => "index" %></p>
<p><%= link_to "Back home", root_url %></p>