<% title "Netzke::Component::AccordionPanel" %>

Features:
<li>Dynamically loads the nested widget when a panel gets expanded for the first time</li>
<li>Is loaded along with the "active" widget - saves a request to the server</li>

<h2>Example: two GridPanels loaded dynamically</h2>
<p>A two-panel accordion, where panels, at the moment of being expanded, dynamically load two differently configured GridPanels.</p>
<p>Code:</p>
<% coderay do %>
netzke :two_grid_panels,
          :class_name => "Component::AccordionPanel",
          :items => [{
            :class_name => "Component::GridPanel",
            :model => "Boss",
            :name => "bosses"
          }, {
            :class_name => "Component::GridPanel",
            :model => "Clerk",
            :name => "clerks"
          }], 
          :ext_config => {
            :width => 700,
            :title => "Two GridPanels loaded dynamically"
          } 
<% end %>
<p>Result:</p>
<%= netzke :two_grid_panels,
            :class_name => "Component::AccordionPanel",
            :items => [{
              :class_name => "Component::GridPanel",
              :model => "Boss",
              :name => "bosses"
            }, {
              :class_name => "Component::GridPanel",
              :model => "Clerk",
              :name => "clerks"
            }], 
            :ext_config => {
              :width => 700,
              :border => true,
              :title => "Two GridPanels loaded dynamically"
            } 
%>

<h2>Example: a GridPanel and a FormPanel, preloaded</h2>
<p>A two-panel accordion nesting a GridPanel and a FormPanel, which get loaded along with the accordion (no dynamic loading takes place)</p>
Code:
<% coderay do %>
netzke :accordion_panel, 
          :items => [{
            :class_name => "Component::GridPanel",
            :model => "Boss",
            :name => "bosses",
            :preloaded => true
          }, {
            :class_name => "Component::FormPanel",
            :model => "Clerk",
            :name => "clerks",
            :preloaded => true,
            :record_id => Clerk.first.id
          }], 
          :ext_config => {
            :width => 700,
            :title => "GridPanel and FormPanel - preloaded",
            :border => true
          } 
<% end %>
Result:
<%= netzke :grid_panel_and_form_panel, 
          :class_name => "Component::AccordionPanel",
          :items => [{
            :class_name => "Component::GridPanel",
            :model => "Boss",
            :name => "bosses",
            :preloaded => true
          }, {
            :class_name => "Component::FormPanel",
            :model => "Clerk",
            :name => "clerks",
            :preloaded => true,
            :record_id => Clerk.first.id
          }], 
          :ext_config => {
            :width => 700,
            :title => "GridPanel and FormPanel - preloaded",
            :border => true
          } 
 %>
 
<h2>Example: a Panel and a BorderLayoutPanel, where the former is active</h2>

<p>The accordion gets loaded with the first panel being "active", i.e. pre-loaded and open. The second panel is a BorderLayoutPanel with two panels - a grid and a form</p>

<p>Code:</p>
<% coderay do %>
netzke :border_layout_panel_active,
          :class_name => "Component::AccordionPanel",
          :items => [{
            :class_name => "Component::Panel",
            :ext_config => {
              :html => "The first panel is active"
            },
            :active => true
          },{
            :class_name => "Component::BorderLayoutPanel",
            :regions => {
              :center => {
                :class_name => "Component::GridPanel",
                :model => "Boss"
              },
              :south => {
                :class_name => "Component::FormPanel",
                :model => "Clerk",
                :record_id => Clerk.first.id,
                :region_config => {
                  :height => 150
                }
              }
            }
          }],
          :ext_config => {
            :width => 700,
            :border => true
          }
<% end %>

<p>Result:</p>
<%= 
netzke :border_layout_panel_active,
              :class_name => "Component::AccordionPanel",
              :items => [{
                :class_name => "Component::Panel",
                :ext_config => {
                  :html => "The first panel is active"
                },
                :active => true
              },{
                :class_name => "Component::BorderLayoutPanel",
                :regions => {
                  :center => {
                    :class_name => "Component::GridPanel",
                    :model => "Boss"
                  },
                  :south => {
                    :class_name => "Component::FormPanel",
                    :model => "Clerk",
                    :record_id => Clerk.first.id,
                    :region_config => {
                      :height => 150
                    }
                  }
                }
              }],
              :ext_config => {
                :width => 700,
                :border => true
              }
%>