<% title "Netzke::Basepack::Window" %>

Features:
<li>Straight-forward nesting of any other Netzke widget</li>
<li>Persistent resize and position</li>

<h2>Example 1: an empty window with defaults</h2>
<p>Just a window that remembers its size and position</p>

<input type="button" value="Show window" onClick="Netzke.page.window.show(); Ext.get(this).hide();" />

<%= netzke :window %>

<h2>Example 4: empty window with predefined dimensions that can be reopened after closing</h2>
<p>Simply setting the <tt>Ext.Window</tt>'s <tt>closeAction</tt> option to "hide"</p>

<input type="button" value="Show window" onClick="Netzke.page.reopenableWindow.show()" />
<%= netzke :reopenable_window, 
      :class_name => "Basepack::Window", 
      :ext_config => {
        :close_action => "hide", 
        :width => 200, :height => 100
      } 
%>
<br>
<%= link_to "Back", :root %>